
footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20rem;
    background: #f5ece5;
    color: #45523e;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.15rem;
    letter-spacing: .01rem;
}


footer h2 {
    font-family: 'Tilt Prism', cursive;
    font-weight: 400;
    font-size: 2.75rem;
    margin: 0;
    display: flex;
    align-items: center;
    letter-spacing: .15rem;
    line-height: 2.25rem
}

footer ul {
    display: flex;
    align-items: end;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    margin: 0 0 0 .6rem;
}