
.headSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 9rem 0 0 0;
    padding: 0 2rem;
}

.headSection img {
    max-width: 11rem;
    border-radius: 50%;
    border: none;
    margin: 0 0 1rem;
}

.headSection h2 {
    font-family: 'Tilt Prism', cursive;
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: .15rem;
    margin: .5rem 0;
    text-align: center;
}

.headSection p {
    font-weight: 100;
    font-size: 1.15rem;
    text-align: center;
    max-width: 47.5rem;
}