
.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 1rem auto 3rem;
    font-family: 'Courier Prime', monospace;
    font-size: 1rem;
}

.headerContainer {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 1rem auto 1rem;
    font-family: 'Courier Prime', monospace;
    font-size: 1.1rem;
}

.navStyles {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footerContainer {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 1rem auto 1rem;
    font-family: 'Courier Prime', monospace;
    font-size: .9rem;
    text-align: center;
}

.aboutMeOnMain {
    text-align: center;
    font-size: 1.33rem;
}

.profilePhotoMain {
    border-radius: 100%;
}

.aboutMeSection {
    margin-top: 4rem;
}

.aboutMeSection h2{
    text-align: center;
}

.aboutMeSection p {
    text-align: center;
    font-size: 1.14rem;
    line-height: 1.5rem;
}